@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;1,900&family=Poppins:wght@300&display=swap');
header {
    width: 100%;
    padding: 0;
    position: fixed;
    top: 0;
    background: #26272b;
    display: inline-block;
    align-items: center;
    box-shadow: 0 0 10px gray;
    height: 80px;
    min-width: 100vw;
}

header nav {
    padding: 0;
    margin: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
}

#header-img {
    padding: 0;
    max-height: 40px;
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top: 17px;
    float: left;
}

.inicio button {
    background-color: #44DBBD;
    width: 250px;
    height: 75px;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px 2px;
    font-family: 'Poppins', sans-serif;
}

.inicio button:hover {
    background-color: #44b8db;
}

.nav-bar button {
    background-color: #44DBBD;
    width: 100px;
    height: 40px;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px 2px;
}

.nav-bar button:hover {
    background-color: #44b8db;
    text-decoration: none;
}

header .nav-bar .nav-link {
    text-decoration: none;
    color: #f9f9f9;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
}

header .nav-bar a:hover {
    color: #B38A4C;
}

.site-footer {
    background-color: #26272b;
    bottom: 0;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    width: 100%;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer h6 {
    color: #B38A4C;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #44DBBD
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

.header {
    position: fixed;
    z-index: 2;
}

.site-footer {
    position: relative;
    z-index: 2;
}

.content {
    position: relative;
    z-index: 1;
}


/*top background*/

.intro-header {
    padding-top: 50px;
    /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    background: url('img/NNL-marble.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 855px;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0.1);
    height: 855px;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}


/*Big header*/

.intro-message>h1 {
    margin-top: -20px;
    font-family: 'Poppins', sans-serif;
    font-size: 6em;
    color: #B38A4C;
}


/*small header*/

.intro-message>h3 {
    color: #2f2e2e;
    font-size: large;
    font-family: 'Poppins', sans-serif;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message>h1 {
        font-size: 3em;
    }
    ul.intro-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.intro-social-buttons>li:last-child {
        margin-bottom: 0;
    }
    .intro-divider {
        width: 100%;
    }
}


/*line*/

hr.intro-divider {
    border: 1px outset rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    width: 100%;
}


/* Pricing */

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.background {
    padding: 0 25px 25px;
    position: relative;
    width: 100%;
}

.background::after {
    content: '';
    background: #44DBBD;
    background: -moz-linear-gradient(top, #44DBBD 0%, #44b8db 100%);
    background: -webkit-linear-gradient(top, #44DBBD 0%, #44b8db 100%);
    background: linear-gradient(to bottom, #44DBBD 0%, #44b8db 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#44DBBD', endColorstr='#44b8db', GradientType=0);
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

@media (min-width: 900px) {
    .background {
        padding: 0 0 25px;
    }
}

.container {
    margin: 0 auto;
    padding: 50px 0 0;
    max-width: 960px;
    width: 100%;
}

.panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
}

.pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
}

@media (min-width: 900px) {
    .pricing-table {
        flex-direction: row;
    }
}

.pricing-table * {
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
}

.pricing-plan li {
    list-style: none;
}

.pricing-plan:last-child {
    border-bottom: none;
}

@media (min-width: 900px) {
    .pricing-plan {
        border-bottom: none;
        border-right: 1px solid #e1f1ff;
        flex-basis: 100%;
        padding: 25px 50px;
    }
    .pricing-plan:last-child {
        border-right: none;
    }
}

.pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
}

.pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
}

.pricing-features {
    color: #44b8db;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
}

.pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
}

.pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
    color: #44b8db;
    display: block;
    font-size: 32px;
    font-weight: 700;
}

.pricing-button {
    border: 1px solid #6ed88c;
    border-radius: 10px;
    color: #44b8db;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
    background-color: #e1f1ff;
    text-decoration: none;
    color: black;
}

.pricing-button.is-featured {
    background-color: #44b8db;
    color: #fff;
    text-decoration: none;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
    background-color: #44DBBD;
    text-decoration: none;
    color: #2f2e2e;
}


/* info */

.sobre-nnl {
    height: 650px;
    background: whitesmoke;
    padding: 5% 7%;
}

.sobre-nnl img {
    display: inline-block;
    box-shadow: -1px 1px 19px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

.sobre-nnl div {
    width: 60%;
    float: right;
    text-align: center;
    color: #26272b;
    line-height: 40px;
}

.sobre-nnl h1 {
    padding: 60px 10px;
}

#info {
    font-family: 'Exo 2', sans-serif;
}

#info p {
    font-size: larger;
    text-align: justify;
    color: #26272b;
    font-weight: 400;
}

#info h1 {
    text-transform: uppercase;
    text-shadow: 1px 1px 10px whitesmoke;
    color: black;
    font-weight: 400;
    font-size: xx-large;
}

#inicio h3 {
    letter-spacing: 2px;
    line-height: 30px;
}
